body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto-slab: "Roboto Slab";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff0000;

  /* Border radiuses */
  --br-xl: 20px;
}